.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0%;
    background-color:skyblue;
    border-radius: 10px;
    opacity: 0.8;
    
}

.nav-menu{
    display: flex;
}

.nav-menu li{
    padding:2px;
    margin-inline-start: 100px;
}
.nav-menu-li a{
    font-size: 1.2rem;
    font-weight: 500;
}
.hamburger{
    display: none;
}
@media screen and (max-width:1040px){
    .nav-menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 120%;
        background:black;
        position: absolute;
        top: 0;
        left: -120%;
        z-index:-5;
        transition: 0.8s;
        }
      }
 
  .nav-menu.active{
    left: -20%;
  }
  .nav-menu li{
    padding:1rem 0;

  } 
  .nav-menu li a{
    font-size:2rem;
  } 
  .hamburger{
    display: initial;
}
li:hover{
  font-size: 50px;
}